body {
  background-image: url("recipes/images/food.png");
  font-family: 'Courier New', monospace;
  font-weight: 500;
}
/* Main webpage */
.title {
  text-align: center;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 .links li {
  display: inline;
  float: left;
  border-right: 1px solid black;
}

 .links li:last-child {
  border-right: none;
}

 .links a {
  display: block;
  padding: 8px;
  background-color: yellow;
  text-decoration: none;
}
/* Second & third webpage */

.content p {
  text-align: center;
  margin: 0px 30px 40px 30px;
}

.content h3 {
  text-align: center;
}

.list {
  padding: 20px;
  float: left;
}

.steps {
  padding: 20px;
  float: left;
  text-align: center;
}

footer {
  text-align: center;
  clear: left;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

footer li {
  display: inline;
  float: left;
  border-right: 1px solid black;
  text-align: center;
}

footer a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

footer li:last-child {
  border-right: none;
}
